#container {
  background-color: green;
  width: fit-content;
}

#top {
  height: 35px;
}
#middle {
  display: flex;
}
#left {
  width: 100px;
}
#right {
  width: 100px;
}
#bottom {
  height: 35px;
}

#main {
  width: 510px; /* 17 * 30 */
  height: 400px; /* 10 * 40 */
  background-color: white;
}

#main > div {
  width: 100%;
  height: 100%;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu > button {
  width: 100px;
}

#game > div {
  pointer-events: none;
}
.apple {
  width: 20px;
  height: 20px;
  padding: 10px 5px 0 5px;
  display: inline-block;
  background-image: url("../images/apple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 24px;
  align-content: center;
  text-align: center;
  user-select: none;
}

#selection_box {
  position: absolute;
  border: 1px solid darkblue;
  background-color: yellow;
  opacity: 0.2;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
