#game {
  width: 720px;
  height: 470px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu button {
  width: 100px;
}

#box {
  width: 510px; /* 17 * 30 */
  height: 400px; /* 10 * 40 */
  background-color: white;
}
.row {
  display: flex;
  pointer-events: none;
}
.apple {
  width: 30px;
  height: 40px;
  background-image: url("../images/apple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 24px;
  align-content: center;
  text-align: center;
  user-select: none;
}

#selection_box {
  position: absolute;
  border: 1px solid darkblue;
  background-color: yellow;
  opacity: 0.2;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
