#game {
  display: grid;
  place-items: center;
  grid-template-columns: 50px 510px 60px;
}

#box {
  pointer-events: none;
  width: 510px; /* 17 * 30 */
  height: 300px; /* 10 * 30 */
}

.apple {
  width: 20px;
  height: 20px;
  padding: 10px 5px 0;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 24px;
  align-content: center;
  text-align: center;
}

.apple:not(.removed) {
  background-image: url("../res/apple.png");
}

.apple.selected:not(.removed) {
  background-image: url("../res/selected_apple.png");
  background-color: palevioletred; /* TODO: remove this after replacing selected_apple.png */
}

#selection-box {
  position: absolute;
  border: 1px solid darkblue;
  background-color: yellow;
  opacity: 0.2;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

#hud {
  display: flex;
  width: 30px;
  height: 90%;
  gap: 10px;
  flex-direction: column;
}

#hud > div {
  width: 100%;
  justify-items: center;
  text-align: center;
}

#timer {
  flex-grow: 1;
}

#timer > div {
  width: 10px;
  height: 300px;
  background-color: red;
  align-content: flex-end;
}

#timer > div > div {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
  background-color: yellow;
  animation: timer 120s linear forwards;
}

@keyframes timer {
  from {
    height: 100%;
  }

  to {
    height: 0;
  }
}
