#modal {
  position: absolute;
  display:none;
  background-color: black;
  opacity: 0.6;
  width: 620px;
  height: 400px;
}

#modal.active {
  display: grid;
  place-items: center;
}

#modal.active > div {
  background-image: url("../res/apple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px 240px;
  width: 200px;
  height: 240px;
  font-size: 100px;
  align-content: center;
  text-align: center;
}
